.slideshow-container {
    position: relative;
    max-width: 800px;
    max-height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow:hidden;
    border-radius: 24px;
    margin-top: 10rem;
  }
  
  .slide {
    display: none;
  }
  
  .fade {
    animation: fadeEffect 1.5s;
  }
  
  @keyframes fadeEffect {
    from {opacity: 0.4;}
    to {opacity: 1;}
  }